@charset "UTF-8";

/*키오스크 전체구역*/
.kioskwrap{
	font-family: 'MBC1961GulimM'; /*눈누폰트*/
	width: 700px; /*구역 가로 사이즈*/
	margin: 50px auto; /*구역 가로 가운데 정렬*/
	/*border: 1px solid red; height: 1000px;구역확인용*/
}

/*헤더구역이미지*/
.himg {
	width: 100%;
	/* height: 200px; */
	/* 비율 맞추기*/
	object-fit: cover;
}

/*카테고리*/
.categorymenu{
	display: flex;
	justify-content: space-around;
	padding-top: 2px;
}

/*선택 안된 카테고리*/
.categorymenu li{
	color: #8e8e8e;
}
/*선택된 카테고리*/
.categoryselect { /*위에서 이미 color속성 사용햇으므로 중복!!*/
	/* 1. id별도로 해서 속성적용 2. style속성을 이용 3. !important 우선순위가 최우선으로됨*/
	color: red !important;
	border-bottom: 3px solid red;
	padding-bottom: 3px;
}
/*제품들 출력 구역*/
.productbox {
	height: 450px; /*높이를 생략하면 기본값 auto : 내용물 크기만큼 늘어남*/
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll; /*만약에 자식요소들이 현재구역보다 사이즈가 더 커지면*/
    
}
/*제품 1개*/
	/*전체 가로사이즈 : width: 700px/가로당 제품수 */
.product {
	width: 30%;
	text-align: center;
	margin: 5px 10px 30px 10px;
}
.product img { 
	width: 100%; 
}
.product .pprice {
	color: red;
}
/*카트 출력 구역*/
.cartbox {
	height: 250px;
	background-color: #eeeeee;
	position: relative;
}

/*카트 상단 부분*/
.carttop{
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
}
/*카트내 제품수 원형*/
.ccount{
	background-color: red;
	width: 30px; /*span은 inline 기본값이라 크기설정이안됨*/
	display: inline-block; /*inline : 한줄차지x 사이즈적용x / block: 한줄차지o , inline-block: 한줄차지x 사이즈적용o*/
	border-radius: 15px;
	font-size: 10px;
	color: white;
	text-align: center;
	padding: 4px;
}
/* 카트내 제품 총가격*/
.ctotal { color: red; }

/*카트내 제품 출력 구역 자식요소들이 만약에 사이즈가 더 크면 자동으로 자식요소들의 사이즈를 줄임=>방지[최소사이즈 고정]*/
.cartbottom{
	display: flex;
	overflow-x: scroll; /*가로스크롤*/
	
}
/*카트내 제품1개 구역*/
.citem{
	min-width: 20%; /*한줄에 4개씩 : 최소가로사이즈 / max-width , min-width , max-height , min-height*/
	background-color: white;
	padding: 10px;
	margin: 5px 20px;
	position: relative;
}
/*카트 개별 취소 버튼*/
.icancel{ 
	position: absolute;
	right:10px; 
	top: 10px;
}
/*카트 제품명*/
.iname {
	width: 80%;
	height: 60px;
}
.iprice {
	color: red;
}

/*버튼들의 구역*/
.cartbtn {
	display: flex;
	position: absolute; /*가장 가까운 상위 요소의 position: relateve; 만약 상위요소내 relateve가 존재 하지 않으면 body 기준점*/
	bottom: 0;
	width: 100%;
}
.cartbtn button {/*버튼들의 공통*/
	width: 50%;
	font-size: 20px;
	color: white;
	border: none;
	padding: 10px;
}

.cancelbtn {
	background-color: black;
}

.orderbtn {
	background-color: red;
}
