@charset "UTF-8";
/*------------ 전체 설정 -------------*/
*{ margin: 0px; padding: 0px; }
button {border: none;}
li{list-style-type: none;}
a{color:black; text-decoration: none;}

/*------------ 헤더 -------------*/
#header {
	width: 100%;
	background-color: white;
	position: sticky;
	top: 0px;
	z-index: 100;
}

.header_area {
	width: 720px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 0; /* 헤더 안쪽 여백 */
}

.logo span {
	font-size: 18px;
	font-weight: 700;
}

.logo_impact {
	color: #3870C2;
}

.top_menu { /*메뉴바*/
	font-size: 12px;
	font-weight: 700;
	display: flex;
	gap: 30px;

}

/*------------본문 -------------*/
#content {
	width:100%;
}

.main_area {
	width: 1200px;
	margin: 0 auto;
}

.main_img {
	width: 1200px;
}
.main_img img { 	/* 대표이미지 */
	width: 100%;
}

/*------------ 본문 main 구역 -------------*/
/*------------ 설명박스들 -------------*/

.info_area {
	width: 1200px;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin: 50px 0;
}


.info { /* 메인설명 1개 */
	display: flex;
}

.info_box1 img {
	width: 50px;
}

.info_box2 {
	margin-left: 30px;
	width: 260px;
}

.info_text1 {
	font-size: 14px;
	font-weight: bold;
}

.info_text2 {
	font-size: 11px;
	font-weight: 600;
	margin-top: 8px;
}



/*------------ 본문 sub 구역 -------------*/
.sub_area {
	width: 100%;
	background-color: #F9F9F9;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}


.studio_sample img {
	width: 200px;
}

.studio_name {
	font-weight: 700;
	font-size: 14px;
	margin-top: 5px;
}

.studio_text {
	font-size: 11px;
	margin-top: 5px;
}





/*------------푸터-------------*/
#footer {
	width: 100%;
	height: 200px;
	background-color: #292C32;
}

.ft_wrap{
	width: 800px;
	display: flex;
	justify-content: space-between;
	color: white;
	margin: 0 auto;
	padding-top: 60px;
}

.ft_box1 p {
	font-weight: 700;
	font-size:12px;
}

.ft_box1 div {
	font-size: 20px;
	margin-top: 10px;
	color: #DDC7ED;
}


.ft_menu a { color: white; }

.ft_box2 {
	font-size: 10px;
}

.ft_menu {
	display: flex;
	gap: 7px;
}

.ft_info {
	margin-top: 10px;
}


.ft_icon {
	width: 28px;
	height: 28px;
	background-size: 28px;
	display: inline-block;
}

.facebook {
	background-image: url("img/facebook.png");
}

.blog {
	background-image: url("img/blog.png");
}

.insta {
	background-image: url("img/instagram.png");
}




/*------------------------ intro 페이지 --------------------------*/
#intro_content { /* 본문내용 */
	width: 100%;
	position: relative;
}

.intro_box_bg { /* 정보박스 두번째 배경컬러 */
	width: 100%;
	height: 440px;
	background-color : #eeeeee;
	position: absolute;
	bottom: 0px;
}

.next_area { /* 본문 메인 영역*/
	width: 1200px;
	margin: 0 auto;
	position: relative;
}


.next_img2 img{  /* 대표 이미지 */
	width: 100%;
}

.nextimg_info { /* 대표 이미지 텍스트 */
	position: absolute;
	top: 100px;
	left: 500px;
	color: #F9F5DB;
	text-align: center;
	line-height: 180%;
}

.next_title { 
	font-size: 20px;
}

.next_text {
	font-size: 12px;
}

.intro_box_area { /* 정보박스 구역*/
	display: flex;
	width: 900px;
	gap: 20px;
	margin: 0 auto;
	padding: 80px;
}

.intro_box_area img { /* 정보박스 이미지*/
	width: 420px;
}

.info_box { /* 정보박스 세부 텍스트*/
	font-size: 14px;
}


.info_main_title {
	font-size: 18px;
	font-weight: 800;
	margin-top: 20px;
	margin-bottom: 5px;
}

.info_sub_title {
	font-weight: 800;
	margin-bottom: 15px;
}











